*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100vh;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items:center; 
}
.grid-container{
    width: 100%;
    max-width: 1400px;
    padding: 40px 60px;
    background-color: #aaa;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows:308px 308px 308px;
    grid-template-areas: 
    "column1 column2 column3"
    "column1 column2 column3"
    "column1 column4 column4";
    gap: 32px; 
}
.grid-container > *, .inner-item{
    display: grid;
    gap: 32px;
}

.inner-item{
    grid-template-columns: 1fr 1fr;
}
.inner-item:nth-child(1){
    grid-template-columns: 0.90fr 2fr;
}
.grid-item{
    border-radius: 10px;
}


.item1{
    grid-area: column1;
}
.item2{
    grid-area: column2;
}
.item3{
    grid-area: column3;
}
.item4{
    grid-area: column4;
} 


.create{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: #F9EEE2;
    padding: 80px 32px;
}
.create h1{
    padding-bottom: 24px;
    width: 192px;
}
.create-purple{
    color: #7551DC;
}
.create img{
    width: 190px;
}

.content{
    padding: 24px;
    background-color: #FFCC6A;
}
.content h1{
    width: 208px;
    padding-bottom: 55px;
}
.content img{
    width: 219px;
}


.media{
    color: #fff;
    padding: 42px 32px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center ;
    background-color: #7551DC;
}
.media h1{
    line-height: 58px;
    font-size: 52px;
    padding-bottom: 24px;
}
h1 span{
    color: #FFCC6A;
}
.media img{
    width: 192px;
    padding-bottom: 8px;
}
.media-img{
    color: white;
}
.media-img p{
    font-size: 18px;
}


.manage{
    background-color: #fff
}

.post{
    background-color: #FFCC6A;
}
.schedule{
    background-color: #DBD1FC;
}
.audience{
    background-color: #fff;
}
.followers{
    background-color: #7551DC;
}









@media screen and (max-width: 950px) {
    .grid-container{
        padding-left: 5%;
        padding-right: 5%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:repeat(4, 208px);
        grid-template-areas: 
                "column2 column3"
                "column2 column3"
                "column4 column4"
                "column1 column1"
        ;
    }
}
@media screen and (max-width: 680px) {
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows:auto auto;
        grid-template-areas: 
                "column2"
                "column3"
                "column4"
                "column1"
        ;
    }
    .item1{
        grid-template-columns: 1fr 1fr;
    }
    .inner-item, 
    .inner-item:nth-child(1){
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 430px){
    .item1{
        grid-template-columns: 1fr;
    }
}
